<!--The content below is only a placeholder and can be replaced.-->


  <!-- Header START -->
<app-header></app-header>
  <!-- Header END -->

  <!-- CONTAINER START-->
  <section class="container">
    <div class="row">
      <section class="col-md-8 content-wrapper">
        <div id="ctl00_cphBody_divError"></div>
        <div id="ctl00_cphBody_PostList1_posts" class="posts">

          <!-- Article START-->
          <app-article *ngFor="let item of data; let i = index"
          [i]="i"
          [item]="item"></app-article>
          <!-- ARTICLE END-->
  <!-- CONTAINER END -->
<pre>{{data | json }}</pre>

  <!-- FOOTER START -->
<app-footer></app-footer>
  <!-- Footer END -->



<router-outlet></router-outlet>
